* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.box{
    width: 35vw;
    box-shadow: 2px 2px 8px 0px rgba(160,179,150,1);
}

.options{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #fafafa;
}

.text-input {
    background-color: white;
    height: 300px;
    padding: 0 3px;
    overflow-y: scroll;
}


.text-input ol, .text-input ul {
    margin-left: 30px;
}

.option-button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0;
    margin-left: 1px;
    cursor: pointer;
}
.option-button:hover{
    background-color: rgb(234, 227, 227);
}

.color{
    padding: 10px 5px;
}
select{
    padding: 3px 5px;
}

.content{
    position: relative;
}

.save{
    position: absolute;
    top: 0;
    right: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
